<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ds.onesignaltest" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OneSignalTest</name>
    <description>
        OneSignalTest
    </description>
    <author email="info@me.not" href="http://me.not/">
        OneSignalTest
    </author>
    <plugin name="cordova-plugin-app-event" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="onesignal-cordova-plugin" />    
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <preference name="windows-target-version" value="10.0" />
    <preference name="DisallowOverscroll" value="true" />
<preference name="phonegap-version" value="cli-6.5.0" />
<preference name="android-build-tool" value="gradle" />

<icon src="icon.png" />

<splash src="splash.png" />

</widget>
